*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Layout di sfondo */
#background-navbar {
  height: 150px;
  background-color: #009688;
}

#background-main {
  /* test */
  height: 1000px;
  /* /test */
  
  position: relative;
  background-color: #dbdbd2;
}
/* /Layout di sfondo */


/* contenitore dell'app */
#app-container {
  /* test */
  width: 1600px;
  height: 850px;
  background-color: lightblue;
  /* /test */

  position: absolute;
  left: 0;
  right: 0;
  top: -120px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* /contenitore dell'app */


/* sezione dei contatti (sinistra) */

/* contenitore */
#contacts-container {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
/* /contenitore */

/* sezione profilo utente */
#user-section {
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;

  background-color: #eaeaea;
}

#user-section .pfp-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#user-section .pfp-image-container {
  max-width: 60px;
}

#user-section .pfp-container img {
  width: 100%;
  border-radius: 50%;
}

#user-section .user-name {
  font-weight: 500;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #b1b1b1;
  font-size: 1.3em;
}
/* /sezione profilo utente */

/* sezione notifiche */
#notification-section {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 15px 20px;

  background-color: #8edafc;
}

#turn-on-notification-icon .fa-bell-slash {
  font-size: 1.3em;
  color: #8edafc;
  background-color: white;
  padding: 16px 13px;
  border-radius: 50%;
}

#notification-text-container #upper-text {
  font-weight: 500;
}

#notification-text-container #bottom-text {
  font-weight: 400;
  font-size: 0.9em;
  text-decoration: underline;
  color: grey;
}

/* /sezione notifiche */


/* sezione input ricerca */
#search-section {
  background-color: #fafafa;
}

#search-input-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input-container .fa-magnifying-glass {
  position: absolute;
  left: 35px;

  color: #b1b1b1;
}

#search-input-container input {
  margin: 7px;
  width: 100%;

  color: #b1b1b1;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  height: 40px;
  padding-left: 80px;
}

/* #search-input-container input:focus-visible {
  outline-offset: 0px;
  border: 1px solid grey;
} */

/* /sezione input ricerca */

/* sezione messaggi contatti */
#contacts-section {
  background-color: white;

  overflow: auto;

  padding-bottom: 100px;
}

.contact-card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 10px 20px;
  border: 1px solid #e9ebeb;
  
  cursor: pointer;
}

.contact-card-container:hover {
  background-color: #e9ebeb;
}

.contact-card-left {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contact-pfp-container {
  max-width: 60px;
}

.contact-pfp-container img {
  width: 100%;
  border-radius: 50%;
}

.contact-info-container {

}

.contact-name {
  font-weight: 500;
  font-size: 1.2em;
}

.contact-last-message {
  font-weight: 400;
  font-size: 0.9em;
  color: grey;
}

.contact-card-right {

}

.contact-last-message-data {
  font-weight: 400;
  font-size: 0.9em;
  color: grey;
}
/* /sezione messaggi contatti */
/* /sezione dei contatti (sinistra) */



/* sezione della chat (destra) */
/* contenitore */
#chat-container{
  /* test */
  width: 60%;
  height: 100%;
  background-color: lightsalmon;
  /* /test */
}
/* /contenitore */



/* /sezione della chat (destra) */
