*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #dbdbd2;

}

#app {
  position: relative;
}

/* Layout di sfondo */
#background-navbar {
  height: 150px;
  background-color: #009688;
}
/* /Layout di sfondo */


/* contenitore dell'app */
#app-container {
  min-width: 1000px;
  min-height: 850px;

  position: absolute;
  left: 50px;
  right: 50px;
  top: 30px;
  bottom: 30px;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* /contenitore dell'app */


/* sezione dei contatti (sinistra) */

/* contenitore */
#contacts-container {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;

  border-right: 1px solid #d6d6d6;
}
/* /contenitore */

/* sezione profilo utente */
#user-section {
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px 10px 20px;
  height: 84px;

  background-color: #eaeaea;
}

#user-section .pfp-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#user-section .pfp-image-container {
  max-width: 60px;
}

#user-section .pfp-container img {
  width: 100%;
  border-radius: 50%;
}

#user-section .user-name {
  font-weight: 500;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #b1b1b1;
  font-size: 1.3em;
}
/* /sezione profilo utente */

/* sezione notifiche */
#notification-section {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 15px 20px;
  height: 84px;

  background-color: #8edafc;
}

#turn-on-notification-icon .fa-bell-slash {
  font-size: 1.3em;
  color: #8edafc;
  background-color: white;
  padding: 16px 13px;
  border-radius: 50%;
}

#notification-text-container #upper-text {
  font-weight: 500;
}

#notification-text-container #bottom-text {
  font-weight: 400;
  font-size: 0.9em;
  text-decoration: underline;
  color: grey;
}

/* /sezione notifiche */


/* sezione input ricerca */
#search-section {
  background-color: #fafafa;
}

#search-input-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
}

#search-input-container .fa-magnifying-glass {
  position: absolute;
  left: 35px;

  color: #b1b1b1;
}

#search-input-container input {
  margin: 7px;
  width: 100%;

  color: #b1b1b1;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  height: 40px;
  padding-left: 80px;
}

/* #search-input-container input:focus-visible {
  outline-offset: 0px;
  border: 1px solid grey;
} */

/* /sezione input ricerca */

/* sezione messaggi contatti */
#contacts-section {
  background-color: white;

  overflow: auto;

  padding-bottom: 100px;

  height: calc(100% - 208px);
}

.contact-card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 10px 20px;
  border: 1px solid #e9ebeb;

  cursor: pointer;
}

.contact-card-container:hover {
  background-color: #e9ebeb;
}

.contact-card-container.active {
  background-color: #e9ebeb;
}

.contact-card-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-pfp-container {
  max-width: 60px;
}

.contact-pfp-container img {
  width: 100%;
  border-radius: 50%;
}

.contact-info-container {

}

.contact-name {
  font-weight: 500;
  font-size: 1.2em;
}

.contact-last-message {
  font-weight: 400;
  font-size: 0.9em;
  color: grey;
}

.contact-card-right {

}

.contact-last-message-data {
  font-weight: 400;
  font-size: 0.9em;
  color: grey;
}
/* /sezione messaggi contatti */
/* /sezione dei contatti (sinistra) */



/* sezione della chat (destra) */
/* contenitore */
#chat-container{
  width: 60%;
  height: 100%;
}
/* /contenitore */

/* sezione navbar chat */
#chat-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 30px 10px 20px;
  background-color: #eaeaea;
}

.chat-navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-navbar-left .image-container {
  max-width: 60px;
}

.chat-navbar-left .image-container img {
  width: 100%;
  border-radius: 50%;
}
/* /sezione navbar chat */

/* sezione principale chat */
#chat-main {
  height: calc(100% - 164px);
  background-image: url('../img/mine.jpg');

  overflow: auto;

}

#main-chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: flex-start;

  padding: 50px 100px;
}

.message {  
  align-self: flex-start;
  position: relative;
  max-width: 60%;
  min-width: 40%;
  padding: 15px;

  border-radius: 10px;
  background-color: white;
}

.sent {
  align-self: flex-end;
  background-color: #d5f9ba;
}

.message-text {
  
}

.message-data {
  position: absolute;
  right: 4px;
  bottom: 4px;

  font-size: 0.7em;
  color: #b1b1b1;
}
/* /sezione principale chat */


/* sezione footer chat */
#chat-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f3eeea;
  padding: 10px 0;
}

#chat-footer input {
  height: 60px;
  width: 90%;

  padding-left: 2px;

  color: #b1b1b1;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  font-size: 0.9em;
  font-weight: 400;
}

#chat-footer .fa-face-smile,
#chat-footer .fa-microphone {
  color: #6b7376;
  font-size: 1.5em;
  padding: 0 40px;
}
/* /sezione footer chat */
/* /sezione della chat (destra) */
