<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BoolzApp</title>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Google Font - Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  
    <!-- My Style -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>

<body>
  <!-- Vue.js 3 -->
  <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

    <div id="app">
      
      <div id="background-navbar"></div>

        <!-- app -->
        <div id="app-container">

          <!-- sezione dei contatti (sinistra) -->
          <nav id="contacts-container">

            <!-- sezione profilo utente -->
            <div id="user-section">

              <div class="pfp-container">
                <div class="pfp-image-container">
                  <img :src="user.avatar" alt="">
                </div>
                <div class="user-name">{{user.name}}</div>
              </div>
              <div class="icon-container">
                <i class="fa-solid fa-circle-notch"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>
            <!-- /sezione profilo utente -->
            
            <!-- sezione notifiche -->
            <div id="notification-section">
              <div id="turn-on-notification-icon">
                <i class="fa-solid fa-bell-slash"></i>
              </div>
              <div id="notification-text-container">
                <div id="upper-text">
                  Ricevi notifiche di nuovi messaggi
                </div>
                <div id="bottom-text">
                  Attiva notifiche desktop
                </div>
              </div>
            </div>
            <!-- /sezione notifiche -->

            <!-- sezione input ricerca -->
            <div id="search-section">
              <div id="search-input-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat">
              </div>
            </div>
            <!-- /sezione input ricerca -->


            <!-- sezione messaggi contatti -->
            <div id="contacts-section">
             
              <div @click="changeActiveContactIndex(index)" v-for="(contact, index) in contacts" :class=" index == activeContactIndex ? 'active' : ''" class="contact-card-container">

                <div class="contact-card-left">
                  <div class="contact-pfp-container">
                    <img :src="contact.avatar" :alt="contact.name">
                  </div>
                  <div class="contact-info-container">
                    <div class="contact-name">{{contact.name}}</div>
                    <div class="contact-last-message">Ultimo messaggio inviato</div>
                  </div>
                </div>

                <div class="contact-card-right">
                  <div class="contact-last-message-data">
                    {{contact.messages[0].date}}
                  </div>
                </div>
              </div>
              
            </div>
            <!-- /sezione messaggi contatti -->


          </nav>
          <!-- /sezione dei contatti (sinistra) -->

          <div id="chat-container">

            <div id="chat-navbar">
              <div class="chat-navbar-left">
                <div class="image-container">
                  <img :src="contacts[activeContactIndex].avatar" alt="">
                </div>
                <div class="info-container">
                  <div class="contact-name">{{contacts[activeContactIndex].name}}</div>
                  <div class="contact-last-message">Ultimo messaggio in data {{contacts[activeContactIndex].messages[0].date}}</div>
                </div>               
              </div>
              <div class="icon-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-paperclip"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>
            
            <div id="chat-main">
              <div id="main-chat-container">

                <div v-for="(singleMessage, index) in contacts[activeContactIndex].messages" class="message" :class="singleMessage.status">
                    <div class="message-text">
                      {{singleMessage.message}}
                    </div> 
                    <div class="message-data">
                      {{singleMessage.date}}
                    </div>
                </div>
                
              </div>
            </div>

            <div id="chat-footer">
              <i class="fa-regular fa-face-smile"></i>
              <input v-model="newMessage.message" @keyup.enter="addMessage()" type="text" placeholder="Scrivi un messaggio">
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>
        </div>
        <!-- /app -->


    </div>
    <!-- My Script -->
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>